body{
    background-color: black;
    color: white;
}



#tttle{
    background-color: rgb(51, 127, 88);
    height: 120;
    width: 200px;
    margin-top: 25px;
}

img{
    width: 30ex;
    margin-top: 80px;
    border: dotted cyan;
    margin-right: 50px;
}

#h1AboutUs{
    color: green;
}

nav{
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

img:hover{
    border: dotted rgb(255, 55, 0);
}